<!DOCTYPE html>
<html ng-app='nurseApp'>
<head>
    <title>Nurse Schedule</title>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../public/nurseApp.js"></script>
    <script src="../public/nurseController.js"></script>
</head>
<body ng-controller='nurseController as nurse'>

    <h1>Schedule</h1>

    <div>
        <div id="start-time">
            <select ng-model="startTimeOfDay" ng-options="day as day for day in timeOfDay">
            </select>

            <select ng-model="startHour" ng-options="opt as opt.label for opt in hours">
            </select>

            <select ng-model="startMinute" ng-options="opt as opt.label for opt in minutes">
            </select>
        </div>

        <div id="end-time">
            <select ng-model="endTimeOfDay" ng-options="day as day for day in timeOfDay">
            </select>

            <select ng-model="endHour" ng-options="opt as opt.label for opt in hours">
            </select>

            <select ng-model="endMinute" ng-options="opt as opt.label for opt in minutes">
            </select>
        </div>

        <div id="date">
            
        </div>

        <div>
            <button ng-click="addToSchedule()">Add to Schedule</button>
        </div>
    </div>

    <h3>Planned Appointments</h3>

    <div>
        <ul ng-repeat="schedule in planned">
            <h3>Begin Time</h3>
            <p>{{schedule.beginTime}}</p>

            <h3>End Time</h3>
            <p>{{schedule.endTime}}</p>
        </ul>
    </div>

</body>
</html>