<!DOCTYPE html>
<html ng-app='nurseApp'>
<head>
    <title>Nurse Schedule</title>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../public/nurseApp.js"></script>
    <script src="../public/nurseController.js"></script>
</head>
<body ng-controller='nurseController as nurse'>

    <h1>Schedule</h1>

    <div>
<!--     dropdown hours
    dropdown minutes
    enter date -->
    </div>

    <h3>Planned Appointments</h3>

    <div>

        <ul ng-repeat="schedule in planned">
            <h3>Begin Time</h3>
            <p>{{schedule["beginTime"]}}</p>

            <h3>End Time</h3>
            <p>{{schedule["endTime"]}}</p>
        </ul>
    </div>

</body>
</html>